:root {
    --color-primario: black;
    --color-secundario: #eeeeee;
    --color-terciario: #ffffff;
    --color-cuarto: #212121;
  }
  
  /* Fuente */
  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
  * {
    font-family: 'Roboto', sans-serif;
  }
  
/* Contenedor principal */
.detalle-vehiculo {
    display: flex;
    flex-direction: row; /* Cambia esto */
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
  }
  
  /* Imagen del vehículo */
  .img-vehiculo {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Información del vehículo */
  .info {
    padding: 20px;
  }
  
  /* Título */
  .info h1 {
    color: var(--color-primario);
    font-size: 32px;
    font-weight: bold;
  }
  
  /* Parágrafos */
  .info p {
    color: var(--color-cuarto);
    font-size: 18px;
  }
  
  